<% provide(:title, "Invoice ##{@invoice.id} | ") %>
<section id="invoice-email">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p>An invoice email has been sent to <%= @invoice.client.name %>.</p>
			</div>
		</div>
		<div class="row hidden-print">
			<div class="col-sm-12">
				<p><%= link_to 'Back', invoices_path %></p>
			</div>
		</div>
	</div>
</section>
