<% provide(:title, "Stripe Payment") %>
<% if @stripeError %>
<h2>Payment Failed</h2>
<p>Your card has NOT been charged. Please contact us for further instructions.</p>
<% else %>
<h2>Payment Succeeded</h2>
<p>Your card was charged successfully. Thank you!</p>
<% end %>
