<% provide(:title, "Stripe Payment | ") %>
<section id="invoice-stripe-payment">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
        <% if @stripeError %>
        <h2>Payment Failed</h2>
        <p>Your card has NOT been charged. Please contact us for further instructions.</p>
        <% else %>
        <h2>Payment Succeeded</h2>
        <p>Your <% if params[:stripeTokenType] == 'source_bitcoin' %>Bitcoin account<% else%>card<% end %> was charged <%= number_to_currency(@charge.amount.to_f / 100) %>. Thank you!</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
