<% provide(:title, "Edit Client ##{@client.id} | ") %>
<section id="client-edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Edit Client #<%= @client.id %></h1>
				<%= render 'form' %>
				<p><%= link_to 'Back', clients_path %></p>
			</div>
		</div>
	</div>
</section>