<% provide(:title, 'Google Drive') %>
<section id="google-drive">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
        <% if params[:code].present? %>
        Authorized
        <% else %>
        <a href="<%= @auth_url %>">Activate Google Drive</a>
        <% end %>
      </div>
    </div>
	</div>
</section>
