<% provide(:title, 'Payment Options') %>
<section id="payment" class="payment-summary-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="payment-summary-intro">
		      <h2><%= company[:full_name] %><br>Payment Options</h2>
		      <p>For electronic payments, please see your invidiual invoice email. All payment options are summarized below:</p>
		      <hr>
				</div>
				<%= render 'invoices/payment-options' %>
			</div>
		</div>
	</div>
</section>
