<% provide(:title, 'Payment Options') %>
<div class="page-heading">
	<h1><%= company[:full_name] %><br>Payment Options</h1>
</div>
<div class="panel">
	<p class="text-center">For electronic or credit card payments, please see your individual invoice email. All payment options are summarized below:</p>
	<%= render 'invoices/payment-options' %>
</div>
