<% provide(:title, "Edit Project ##{@project.id} | ") %>
<section id="project-edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Edit Project #<%= @project.id %></h1>
				<%= render 'form' %>
				<p><%= link_to 'Back', projects_path %></p>
			</div>
		</div>
	</div>
</section>