<% provide(:title, "Edit Vendor ##{@vendor.id} | ") %>
<section id="vendor-edit">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Edit Vendor #<%= @vendor.id %></h1>
				<%= render 'form' %>
				<p><%= link_to 'Back', vendors_path %></p>
			</div>
		</div>
	</div>
</section>
