<% provide(:title, 'New Vendor | ') %>
<section id="vendor-new">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>New Vendor</h1>
				<%= render 'form' %>
				<p><%= link_to 'Back', vendors_path %></p>
			</div>
		</div>
	</div>
</section>
