section {
	flex: 1;
	padding: 3rem;
	background: $grey-light;
}

.panel,
.table,
section > p {

	a {
		color: $color-primary;
	}

}

table {

	width: 100%;
	border-collapse: collapse;

	th,
	td {
		padding: 0.5rem;
		border: 0px;
	}

	th {
		text-align: left;
		border-bottom: 0.125rem solid $grey-light;
	}

	tbody {

		tr {

			&:hover td {
				background: $grey-light;
			}

			&:first-child {

				td {
					padding-top: 0.75rem;
				}

			}

		}

	}

}

.copy-invoice-link {
	color: $orange;
}

.paid-today-link {
	color: $green;
}
