*,
::after,
::before {
	box-sizing: border-box;
}

html,
body {
	color: $black;
}

main {
	z-index: 1;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
}

.wrapper {

	margin: 0px 1.5rem;

	@include mq($screen-sm) {
		margin: 0px 3rem;
	}

	@include mq($screen-md) {
		margin: 0px auto;
		width: $screen-md - 4rem;
	}

	@include mq($screen-lg) {
		width: $screen-lg - 4rem;
	}

}

img {
	max-width: 100%;
	height: auto;
}
