header {

	z-index: 99;
	position: sticky;
	top: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 1.5rem 3rem 1.5rem 0px;
	color: $white;
	background: $color-primary;

	@include mq('mobile') {
		padding-right: 1.5rem;
	}

	.logo-wrap {

		padding: 0px 1.5rem;
		flex-basis: var(--nav-width);

		a {
			display: block;
			max-width: 80%;
		}

		img,
		svg {
			display: block;
		}

	}

	.search-bar {

		position: relative;
		flex: 1;
		max-width: #{$content-width-max - 3rem};

		i[class^="fa"] {
			position: absolute;
			top: 50%;
			left: 0.5rem;
			transform: translate(0px, -50%);
			color: $black;
		}

		input {

			display: block;
			width: 100%;
			padding: 0.5rem 0.5rem 0.5rem 2rem;
			background: $grey-light;
			border: 1px solid $grey-light;
			border-radius: 0.25em;
			box-shadow: none;
			outline: 0px;

			&:focus {
				border-color: $grey-dark;
				background: $white;
			}

		}

	}

	.user-meta-wrap {

		margin-left: auto;
		padding-left: 1.5rem;

		a {
			color: currentColor;
			text-decoration: none;
		}

	}

}
