i[class^="fa"] {

	&.left {
		margin-right: 0.25em;
	}

	&.right {
		margin-left: 0.25em;
	}

	.btn & {
		transform: translate(0px, -5%);
	}

	h1 & {
		display: inline-block;
		font-size: 0.875em;
		// transform: scale(0.875);
	}

}
