.form-login {

	&-wrap {

		margin: 3rem 1.5rem;
		text-align: center;

		@include mq($screen-sm) {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			margin: 0px;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
		}

	}

	padding: 2rem;
	margin: 0px auto;
	max-width: $screen-sm - 10rem;
	width: 100%;
	background: $grey-light;
	text-align: center;

	h1 {
		margin: 0px 0px 2rem;
	}

	.forgot-password-link {
		display: inline-block;
		margin: 0.5rem 0px;
		color: $grey-dark;
		font-size: 0.75rem;
	}

	.form-elements {
		margin: 2rem 0px;
	}

}
