$black: #000;
$white: #fff;
$grey-light: #efefef;
$grey: #ccc;
$grey-darkish: #a3a3a3;
$grey-dark: #707070;
$red: #f74f4f;
$green: #29b165;
$blue: #4492ff;
$orange: #ffba83;

$color-primary: $blue;
$border-color: $grey;

$font-size-base: 16px;

$screen-sm: 37.5rem;
$screen-sm-px: $font-size-base * $screen-sm / 1rem;
$screen-md: 64rem;
$screen-md-px: $font-size-base * $screen-md / 1rem;
$screen-lg: 71.25rem;
$screen-lg-px: $font-size-base * $screen-lg / 1rem;
$screen-xl: 90rem;
$screen-xl-px: $font-size-base * $screen-xl / 1rem;
$screen-xxl: 110rem;
$screen-xxl-px: $font-size-base * $screen-xxl / 1rem;

$mobile-breakpoint: $screen-md;
$mobile-breakpoint-px: $screen-md-px;

$max-breakpoint: $screen-xxl;

$nav-width: 18.75rem;
$content-width-max: 75rem;

$transition-speed: 300ms;

$font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

