$black: #000;
$white: #fff;
$white-off: #f6f6f6;
$grey: #333;
$green: #5cb85c;
$red: #d9534f;
$orange: #f0ad4e;
$purple: #8a22ff;
$blue: #639ec9;

$brand-danger-alt: #9c5553;

$width-lg: 1200px;
$width-md: 992px;
$width-sm: 768px;

$table-bg-accent: $white-off;
$table-bg-hover: darken($white-off, 10%);
