<% if (!notice.nil? or !alert.nil?) and (user_signed_in? or controller_name == 'sessions') %>
<section class="notice-alert">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<% if !notice.nil? %>
				<p><%= notice %></p>
				<% end %>
				<% if !alert.nil? %>
				<p><%= alert %></p>
				<% end %>
			</div>
		</div>
	</div>
</section>
<% end %>
