<footer>
	<% if user_signed_in? and !(controller_name == 'welcome' and action_name == 'payment') %><nav class="footer-nav">
		<ul>
			<li><%= link_to destroy_user_session_path, :method => :delete do %>Sign Out<%= icon('fas', 'sign-out-alt', class: 'right') %><% end %></li>
		</ul>
	</nav><% end %>
	<p>&copy; <%= company[:full_name] %></p>
</footer>
