<header>
	<div class="logo-wrap">
		<a class="logo" href="<% if user_signed_in? %>/<% else %>https://seferdesign.com<% end %>"><img src="<%= company[:logo][:alt] %>" alt="<%= company[:full_name] %>"></a>
	</div>
	<div class="search-bar">
		<i class="fas fa-search"></i>
		<input type="search" placeholder="Search for clients, vendors, goals, etc.">
	</div>
</header>
