<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<a href="/"><img src="<%= company_text_logo_alt_url %>" alt="<%= company_full_name %>"></a>
			</div>
		</div>
	</div>
</header>
