<header>
	<div class="logo-wrap">
		<a class="logo" href="<% if user_signed_in? %>/<% else %>https://seferdesign.com<% end %>"><img src="<%= company[:logo][:alt] %>" alt="<%= company[:full_name] %>"></a>
	</div>
	<div class="search-bar">
		<label for="search"><i class="fas fa-search"></i></label>
		<input id="search" type="search" placeholder="Search for clients, vendors, goals, etc.">
	</div>
	<div class="user-meta-wrap"><%= link_to destroy_user_session_path, :method => :delete do %>Sign Out<%= icon('fas', 'sign-out-alt', class: 'right') %><% end %></div>
</header>
